<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>whatsappbussines</name>
	<displayName><![CDATA[WhatssApp Chat]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Add a button to your website to let the users contact you by WhatsApp.]]></description>
	<author><![CDATA[Christian Herrero]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
